/*font-family: 'Architects Daughter', cursive;
font-family: 'Nunito', sans-serif;*/

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Nunito', sans-serif;
}

html,body { 
  font-size: 100%;
  height: 100%;
}

@media only screen and (max-device-width: 480px) {
  html {
   font-size: 50%; 
  }
}

/* Navbar */
.navbar-default {
  background-color: #ffdddd;
}
.navbar-default .navbar-brand {
  color: #727272;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #727272;
}
.navbar-default .navbar-nav > li > a {
  color: #727272;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #cc7c7c;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #cc7c7c;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  color: #ffffff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #727272;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}

.navbar-default .navbar-link {
  color: #727272;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 1024px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

/* 1. Intro */
.background {
  position: fixed;
  width:100%;
  min-height:100vh;
  background: url('/assets/intro_background.jpg');
  background-size: cover;
  background-position: center;
}

.jumbotron {
  background: transparent;
  width: 100%;
  min-height:100vh;
  margin: 0px;
  padding: 0px;
}

.content {
  padding: 20px 20px;
}

#intro_text {
  position: relative;
  float: left;
  top: 60%;
  left: 50%;
  width: 80%;
  color: white;
  transform: translate(-50%, -50%);
  text-align: center;
}

#intro_text h1 {
  font-size: 3.5em;
  letter-spacing: 5px;
  text-transform: uppercase;
  line-height: 0.5;
}

#intro_text h2 {
    font-size: 1.4em;
    font-weight:400;
    letter-spacing:2px;
}

@media (max-width: 700px) {
  #intro_text h1 {
    font-size: 2.5em;
    line-height:1em;
    letter-spacing: 5px;
  }

  #intro_text h2 {
    font-size: 1em;
    font-weight:400;
    letter-spacing:1px;
}
}


.nav-btn{
  border: 1px solid #fff;
  color: #fff;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 400;
  width: auto;
  display: inline-block;
  font-size: 0.8em;
  line-height: 1em;
  padding: 7px 18px;
  margin-top: 0.8em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

.nav-btn .link {
  color: #fff; 
  font-weight:800;
}

/* 2. About Me */
#about {
  background: white;
  font-weight: 400;
  padding-top: 50px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #727272;
}

#headline {
  text-align: center;
}

#headline h2 {
  text-transform: uppercase;
  font-size: 1.5em;
}


#aboutContent {
  background-color: #ecd8c6;
  flex-grow: 1;
}

/* 3. Education */
#education {
  background: rgb(193, 193, 198);
}

/* 4. Work Experiences*/
#work {
  background: rgb(250, 181, 181);
}

/* 5. Fun Projects */
#fun {
  background: rgb(193, 193, 198);
}
