/*font-family: 'Architects Daughter', cursive;
font-family: 'Nunito', sans-serif;*/

html { 
	font-size: 75%;
	font-family: 'Nunito', sans-serif;
	width: 100%;
}

@media only screen and (max-device-width: 480px) {
	html {
	 font-size: 50%; 
	}
}

.bg {
	background: url('/assets/intro_background.jpg');
	background-size: cover;
	background-position: center center;
	position: fixed;
	height: 100vh; /*same height as jumbotron */
	top:0;
	left:0;
	z-index: -1;
}

.jumbotron {
	height: 100vh;
	color: white;
	background: transparent;
	text-align: center;
}

.section {
	margin: 20px;
}

.content {
	padding: 20px 20px;
}

#intro {
	margin: 100px;
}

#intro h1 {
	font-size: 5em;
	font-weight: 800;
}

#about {
	background: rgb(250, 181, 181);
}

#education {
	background: rgb(193, 193, 198);
}

#work {
	background: rgb(250, 181, 181);
}

#fun {
	background: rgb(193, 193, 198);
}